body{
	text-align: center;
	background-color: #123456;
	background-size: 100%;
	margin-top: 50px;
	
}

	
#wrapper {
	width:850px;
	height: 100%;
	margin: 0 auto;
	padding: 0px;
	text-align: left;
	background-color: blue;
	
}

	

#nav li{
	
	display:inline;
	
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
}
	
.navfloatleft {
	display: inline;
	text-decoration:none;
}
	
a:active {
	text-decoration:none;
	color: white;
}
	
a:link {
	text-decoration:none;
	color: orange;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 2px;
	text-align: center;
	display: inline;
	height: 21px;
	width: 120px;
	padding-top: 4px; 
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #777;
}

a:hover {
	text-decoration:none;
	color: red;
}





#box_1 { 
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	
}
#box_2 { 
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 1px;

}
#box_3 { 
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1px;
	height: 1px;
	
}
#box_4 { 
	position: absolute;
	bottom: 0;
	right: 0;
	width: 1px;
	height: 1px;
	
}

